body * {
    box-sizing: border-box;
}
.main-login{
    width: 100%;
    height: 115vh;
    background: #201b2c;
    display: flex;
    justify-content: center;
    align-items: center;
}/* definindo area dos itens de login */
.left-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}/* comportando area esqueda dentro do main-login*/
.left-login > h1{
    font-size: 50px;
    color: aqua;
    font-weight: 600;
    margin: 0;
    
    
}/*/Estilizando o h1 da parte esqueda*/
.left-login-imagem{
    width:35vw;
}/* Definindo imagem do lado esquedo */
.right-login{
    
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}/* definindo area da parte direita dos itens*/
.card-login{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #2f2841;
    border-radius: 20px;
    box-shadow: 0px -10px 40px #00000056;
}/*card do login estilizando e deixando com tamanho, cor e direção dos itens dentro.*/
.card-login > h1{
    color: #00ff88;
    font-weight: 800;
    margin: 0;


}/*Estilizando o h1 do login, cor e a intensidade da fonte */
.textfield{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px; /* espaçamento entre os itens e a propia borda*/
}

.textfield > input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #514869;
    color:#f0ffffde;
    font-size: 12pt;
    box-shadow:  0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
}/* Definindo cor,tamanho, borda, sombra, cor dentro da input */
.textfield > label{
    color: #f0ffffde;
    margin-bottom: 10px;
}/* Cor e margin to lavel*/
.textfield > input::placeholder{
    color: #f0ffff94;
}/*Estilizando o placeholder das input*/
.btn-login{
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    font-weight: 800;
    letter-spacing: 3px;/* letter-spacing do texto é usada para controlar o espaço em branco entre as letras. */
    color: #514869;
    background:#00ff88 ;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff88;
}/*estilzando o botão definindo cores, tamanho, borda, sombra e os espaços entre as letras*/
.endfield{
    color: #00ff88;
    font-weight: 600;
    margin: 0;
}

/* Configurando a parte mobile da parte de login */
@media only screen and (max-width:999px) {
    .card-login{
        width: 85%;

    }/*Definindo o tamnho da card login*/
}
@media only screen and (max-width: 700px){/* Definindo o tamnho quando é pra mudar quando a tela tiver com 999px*/
    .main-login{
        flex-direction: column;
        
    }
    .left-login > h1{
        display: none;
        
    }
    .left-login{
        width: 100%;
        height: auto;
        margin-top: 50vh;
    }
    .right-login{
        width: 100%;
        height: auto;
    }
    .left-login-imagem{
        width: 50vw;
    }
    .card-login{
        width: 90;
    }
}